<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>
 
<form  class="mb-4">
<div class="form-group">
    <textarea type="text" name="message" id="formText" placeholder="Message..."></textarea>
    <input type="button" onclick="appendMessage()" value="Send Message" class = "btn btn-primary btn-block">
</div>
</form>

<h4>Messages</h4>
<ul class="list-group" id="messages-container">
    {{#messages}}
    <li class="list-group-item">{{this}}</li>
    {{/messages}}
</ul>

<script>
    let nickname = prompt("What's your nickname?");
  
    
    function appendMessage(e) { // onclick="appendMessage()" in input submit
        //console.log("onclick function successfully called")
        //e.preventDefault()
        
        console.log('do you come here')
        const formEntry = document.getElementById('formText').value
        //fetch("/{{roomName}}/sendMessage",{method:"POST",body: JSON.stringify({
         //   formEntry
         // })});
          fetch("/{{roomName}}/sendMessage", {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  },
   body: JSON.stringify({
      
      body: formEntry,
      name: nickname
      })
})
  .then(res => res.json())
  .then(data => {
    console.log(data)
  })
  .then(function(res) {
    console.info('fetch()', res);
    return response;
})

        updateMessages();
        
    }
    function updateMessages() {
        
        console.log("fetch")
        var newMessages = []
        messagesJson = 
        fetch("/{{roomName}}/messages", {headers: {
    'Content-Type': 'application/json',
    'Accept': 'application/json'
  }})
        .then(res => res.json())
        .then(data => { 
            data.forEach(msg => {
                newMessages.push(msg)})})
        .then(displayVar => displayNewMessages(newMessages)).catch(err => {
        // error catching
        console.log(err)
        })

    }

    function displayNewMessages(msgs) {
        
        const messagesContainer = document.getElementById('messages-container');
        while(messagesContainer.firstChild) {
            messagesContainer.removeChild(messagesContainer.firstChild);
        }
        msgs.forEach(msg => {
            const msgItem = document.createElement("ul")
            const second = document.createTextNode(msg.text)
            msgItem.appendChild(second)
            const first = document.createTextNode(msg.name+' : ')
            messagesContainer.appendChild(first)
            messagesContainer.appendChild(msgItem)
        })
    }
    setInterval(updateMessages, [5000])
</script>